# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [3]:
from sklearn.datasets import load_diabetes

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [9]:
load_diabetes().keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [42]:
print(load_diabetes()["DESCR"])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### There are 10 columns in this dataset:
- #### Age
- #### Sex
- #### Body mass index 
- #### Average blood pressure
- #### Six columns with blood serum measurements (S1, S2, S3, S4, S5, S6)

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [14]:
load_diabetes().data.shape

(442, 10)

In [41]:
load_diabetes()["feature_names"]

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [43]:
X = pd.DataFrame(load_diabetes().data, columns=load_diabetes().feature_names)

diabetes_datos = pd.DataFrame(load_diabetes().data, columns=load_diabetes().feature_names)
diabetes_datos["disease"] = load_diabetes().target

y = diabetes_datos["disease"]

In [44]:
diabetes_datos

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,disease
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [11]:
from sklearn.linear_model import LinearRegression as LinReg

Initialize the model in the variable `diabetes_model`

In [12]:
diabetes_model = LinReg()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [21]:
diabetes_model.fit(
    X=load_diabetes().data,
    y=load_diabetes().target
)

LinearRegression()

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [23]:
import statsmodels.api as sm
import numpy as np

In [45]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                disease   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Tue, 13 Jul 2021   Prob (F-statistic):                    4.72e-07
Time:                        19:06:38   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          -10.0122    179.967     -0.056      0.956    -363.731     343.707
sex         -239.8191    184.404     -1.301      0.194    -602.259     122.621
bmi          519.8398    200.401      2.594      0.010     125.957     913.723
bp           324.3904    197.053      1.646      0.100     -62.912     711.692
s1          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
s2           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
s3           101.0446    640.155      0.158      0.875   -1157.162    1359.251
s4           177.0642    486.370      0.364      0.716    -778.882    1133.010
s5           751.2793    517.774      1.451      0.148    -266.391    1768.950
s6            67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [46]:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [48]:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [49]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

- #### Every numeric column is well classified

What is the newest model year and the oldest model year?

In [53]:
print(f"The newest model year is: {auto.model_year.max()}")
print(f"The oldest model year is: {auto.model_year.min()}")

The newest model year is: 82
The oldest model year is: 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [56]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [57]:
auto.drop("horse_power", axis=1, inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [59]:
auto.cylinders.value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

- #### There are only 5 different values

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [60]:
from sklearn.model_selection import train_test_split as tts

In [61]:
auto.drop("car_name", axis=1, inplace=True)

In [65]:
X = auto.drop("mpg", axis=1)
y = auto.mpg

In [67]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [68]:
linreg = LinReg()

Next, fit the model in the cell below.

In [69]:
linreg.fit(X_train, y_train)

LinearRegression()

In [70]:
linreg.coef_

array([-0.33637202,  0.00959157, -0.00693623,  0.0242539 ,  0.7694042 ])

In [72]:
linreg.intercept_

-14.740460119053434

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [73]:
from sklearn import metrics

In [74]:
y_pred = linreg.predict(X_test)

In [75]:
print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_test, y_pred))

R2 - Coeficiente de Determinacion 0.8055345836458196

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [77]:
y_train_pred = linreg.predict(X_train)

print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_train, y_train_pred))

R2 - Coeficiente de Determinacion 0.8083725804240561

#### - Both prediction have a good R2. There is no overfitting or underfitting

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [80]:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [82]:
auto_model09 = LinReg()

auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [84]:
y_pred09 = auto_model09.predict(X_test09)
print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_test09, y_pred09))

R2 - Coeficiente de Determinacion 0.8197373067466349

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

#### - Yes, there is an small improvement from R2 = 0.805 to R2 = 0.819

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [86]:
from sklearn.feature_selection import RFE as RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [88]:
estimator = LinReg()
estimator

LinearRegression()

In [89]:
auto_model = RFE(estimator, n_features_to_select=3)

Fit the model and print the ranking

In [94]:
auto_model.fit(X_train, y_train)
auto_model.ranking_

array([1, 2, 3, 1, 1])

In [97]:
auto

      mpg  cylinders  displacement  weight  acceleration  model_year
0    18.0          8         307.0    3504          12.0          70
1    15.0          8         350.0    3693          11.5          70
2    18.0          8         318.0    3436          11.0          70
3    16.0          8         304.0    3433          12.0          70
4    17.0          8         302.0    3449          10.5          70
..    ...        ...           ...     ...           ...         ...
393  27.0          4         140.0    2790          15.6          82
394  44.0          4          97.0    2130          24.6          82
395  32.0          4         135.0    2295          11.6          82
396  28.0          4         120.0    2625          18.6          82
397  31.0          4         119.0    2720          19.4          82

[398 rows x 6 columns]

In [102]:
auto_df_reduce = auto.drop("mpg", axis=1)
auto_df_reduce.drop("displacement", axis=1, inplace=True)
auto_df_reduce.drop("weight", axis=1, inplace=True)
X_reduce = auto_df_reduce

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [103]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = tts(X_reduce, y, test_size=0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [106]:
auto_model_reduced = LinReg()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)

LinearRegression()

In [107]:
y_pred_reduced = auto_model_reduced.predict(X_test_reduced)

In [108]:
print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_test_reduced, y_pred_reduced))

R2 - Coeficiente de Determinacion 0.646419126018839

#### - No, it didn't cause any improvement. Maybe because i use it not properly